CAS_Client/Service References/ExchangeRateServiceReference/ExchangeRateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExchangeRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toCurrency" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExchangeRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExchangeRateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExchangeRateSoapIn">
    <wsdl:part name="parameters" element="tns:ExchangeRate" />
  </wsdl:message>
  <wsdl:message name="ExchangeRateSoapOut">
    <wsdl:part name="parameters" element="tns:ExchangeRateResponse" />
  </wsdl:message>
  <wsdl:portType name="ExchangeRateServiceSoap">
    <wsdl:operation name="ExchangeRate">
      <wsdl:input message="tns:ExchangeRateSoapIn" />
      <wsdl:output message="tns:ExchangeRateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeRateServiceSoap" type="tns:ExchangeRateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExchangeRate">
      <soap:operation soapAction="http://tempuri.org/ExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeRateServiceSoap12" type="tns:ExchangeRateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExchangeRate">
      <soap12:operation soapAction="http://tempuri.org/ExchangeRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeRateService">
    <wsdl:port name="ExchangeRateServiceSoap" binding="tns:ExchangeRateServiceSoap">
      <soap:address location="http://localhost:63891/ExchangeRateService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeRateServiceSoap12" binding="tns:ExchangeRateServiceSoap12">
      <soap12:address location="http://localhost:63891/ExchangeRateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>